.head{
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: 1px solid #cccccc;
}
.name{
    display: flex;
    align-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-right: 1px solid #cccccc;
    

}

.related-links{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    padding-right: 20px;
    font-size: 12px;
    display: flex;
    justify-content: space-around;

}
p{
    padding: 0px 20px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 2;
}

a{
    color: #666666;
    text-decoration: none;

}

body{
    background-image: url("../Images/hotel-wallpaper.png") ;
    display: flex;
    flex-direction: column;
    margin: 0;

}

.headshot{
    display: flex;
    justify-content: center;
    padding: 10px 10px 20px 10px;


}

.about-me{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #dddddd;
    border-spacing: 10px;
    color: #4aaaa5;
    padding-bottom: 10px;
}

img{
    height: 250px;
    flex-basis: 50px;
    align-items: center;
    padding-top: 20px;
}

.main-area{
    border: 1px solid #dddddd;
    max-width: 960px;
    width: 100%;
    min-height: 650px;
    background-color: #ffffff;
    margin: 50px auto;
    font-size: 12px;
    line-height: 15px;
    padding: 30px 30px;
    

}

/*
.main-area-contact{
    display: flex;
    width: 500px;
    height: 500px;
    border: 1px solid #777777;

}

*/

.footer{
    background-color: #666666;
    min-height: 70vh - 30px;
    flex-shrink: 0;

}

.copyright{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 8px;
    border-top: 8px solid #4aaaa5;
    height: 30px;
    flex: 1 0 auto;
    background-color: #666666;
}  

.contact-form{
    color: #777777;
    font-size: 12px;
    display: flex;
    justify-content: row;
}

.message-field{
    display: flex; 
    justify-content: flex-start;
    height: 200px;
    
    
}

input{
    color: #777777;
    font-size: 10px;

}

textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; 

}

.project-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
  }

  .project1 {
    position: relative;
    padding: 20px 20px;
    border: 1px solid #cccccc;
    margin: 10px;
  }

  .project2 {
    position: relative;
    padding: 20px 20px;
    border: 1px solid #cccccc;
    margin: 10px;
  }

  .container {
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  
  .text-block {
    position: relative;
    background-color: #4aaaa5;
    color: white;
    width: 100%;
    bottom: 20px;
    right: 20px;
    padding-left: 20px;
    padding-right: 20px;

  }
